.fullwidth, .stretch {
  width: 100%; }

.halfwidth {
  width: 50%; }

.quaterwidth {
  width: 25%; }

.thirdWidth {
  width: 33%; }

.parallelBox {
  text-align: justify; }

.parallelItem {
  display: inline-block; }

.mark {
  height: +5px;
  border: 1px solid red; }

.stretch {
  display: inline-block;
  font-size: 0;
  line-height: 0; }

div {
  border: 1px solid black;
  padding: 3px; }

body {
  background-color: black;
  color: white;
  font-size: 16px;
  line-height: 19px; }

.HeaderMenu {
  width: 350px;
  height: 200px; }

.copyright {
  font-size: small;
  text-align: center;
  vertical-align: text-bottom; }

/*# sourceMappingURL=basic.css.css.map */
