.fullwidth {
     width: 100%;
}

.halfwidth {
     width: 50%;
}

.quaterwidth {
     width : 25%;
}

.thirdWidth {
     width : 33%;
}

.parallelBox {
     text-align: justify;
}

.parallelItem {
     display: inline-block;
}

.mark {
     height : +5px;
     border:1px solid red;
}

.stretch {
     @extend .fullwidth;
     //@extend .mark;
     display: inline-block;
     font-size: 0;
     line-height: 0;
}

.center_box {
     margin-left: auto; 
     margin-right: auto
}

div {
     //border: 1px solid white;
     padding: 3px;
}

body {
     background-color: darkgray;
     color:          white;
     font-size:      $stdTextSize;
     line-height:    $stdLineHeight;
     font-family:    $stdFontFam;
     font:           $stdFont;
}

